/* CSS declarations go here */

.main {
    background: #eef;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body { 
    /*background: #88e; /*maybe #abe*/
    /*background: #689;*/
    background: #607587;
    /*background: #fff;*/
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

html { 
    /*background: url('/IMG_20111204_122722 (1).jpg') no-repeat center center fixed; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.landing{
	text-align: center;
	background-color: #fff;
	margin: -10;
	height: 800px;
} .superloud{
	font-size: 200px;
	font-weight: 300;
	padding-top: 100px;
} .landing body{
	background-color: #fff;
}

.header {
	text-align: center;
	float: center;
	background-image: url('/IMG_20111204_122722 (1).jpg');
	background-position-y: center;
	background-position-x: left;
	-webkit-background-size: 132% 350%;
	-moz-background-size: 132% 350%;
	-ms-background-size: 132% 350%;
	-o-background-size: 132% 350%;
	background-size: 132% 350%;
	min-height: 300px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    /*position:fixed; */
    /*top:-50%; */
    /*left:-50%; */
    /*width:50%; */
    /*height:50%;*/


} .header .theme {
	font-size: 68px;
	border-radius: 25px;
	background: #fff;
	max-width: 800px;
	align: center;
	padding: 10px;
	opacity: 0.7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
} .header .btn-default {
	opacity: 0.7;
}

.spacer{
	opacity: 0;
	min-height: 20px;
}

.button {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.checkbox {
	text-align: left;
}
.register-container{
	max-width: 765px;
	min-height: 330px;
	margin: 50px;
	background-color: #e0d5c5;
	border-radius: 25px;
	padding: 30px 10px 30px 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
} /*.legend{
	border-bottom-color: #607587;
}*/

.gcalbutton{
	padding-left: 115px;
	padding-bottom: 20px;
}
.leftcolumn{
	max-width: 50%;
	float: left;
	text-align: left;
	margin: 10px;
	max-height: 100%;
}
.rightcolumn{
	/*max-width: 50%;*/
	/*float: right;*/
	text-align: left;
	margin: 10px;
}

.footer {
	font-size: 18px;
	max-width: 765px;
	margin-top: 35px;
	background-color: #e0d5c5;
	-webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: +10;
    padding: 1em;
} .footer span{
	margin-right: 50px;
	margin-left: 50px;
}