<template name="eventpage">
  {{> header}}
  <center>
    <div class="register-container">
      {{> event}}
    </div>
  </center>

  {{> footer}}
</template>

<template name="event">

{{> eventdetails}}

{{> roster}}

</template>

<template name="eventdetails">
	<div class="leftcolumn">
		<div class="row">
			<label class="col-md-6">Event Details</label>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Time</label>
			</div>
			<div class="col-md-8">
				3:00PM blah blah blah blah blahl balhlh
			</div>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Theme</label>
			</div>
			<div class="col-md-8">
				Upcoming LAN party
			</div>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Address</label>
			</div>
			<div class="col-md-6">
				475 Fernando Ave.
				Palo Alto, CA 94306
			</div>
		</div>
		<div class="spacer"></div>
		
		
		<p>Scenester squid qui cliche PBR veniam quis, art party Godard VHS Pitchfork laborum hella. Forage deep v pug mixtape freegan. Magna irony roof party Carles irure, blog gastropub Tumblr meggings banh mi cred Portland ethical proident pork belly. Fashion axe tousled hoodie flannel, mlkshk authentic narwhal laboris leggings Etsy before they sold out. Street art paleo Carles, enim Marfa cupidatat accusamus organic nisi. Blue Bottle ea pour-over squid velit, typewriter pug cardigan occaecat kogi put a bird on it. Wes Anderson adipisicing Terry Richardson Helvetica, artisan odio minim.</p>


	</div>

</template>

<template name="roster">
	<div class="rightcolumn">
		Banksy ut fingerstache et, American Apparel culpa ea. Chia magna ea gastropub. Viral raw denim Intelligentsia nisi placeat, shabby chic deserunt wayfarers mumblecore semiotics direct trade consectetur cardigan. Wes Anderson PBR&B ut Odd Future slow-carb fingerstache. Portland sapiente proident, brunch adipisicing Echo Park Odd Future. Et adipisicing fugiat, ugh pickled Truffaut biodiesel. Hella jean shorts pariatur, aute sed labore keffiyeh non exercitation ennui pug distillery YOLO Tonx cred.
		Williamsburg fashion axe Odd Future XOXO drinking vinegar swag letterpress, nostrud food truck artisan Bushwick organic tofu. Aliqua vegan paleo kogi Bushwick assumenda, art party mlkshk 3 wolf moon small batch cliche chillwave irure est twee. Slow-carb Austin irony Tumblr, 3 wolf moon fingerstache High Life American Apparel Truffaut keffiyeh. Culpa Marfa Tonx blog, kogi freegan ex. Wolf forage cupidatat, velit in deep v VHS wayfarers fingerstache nisi. Meh pop-up placeat fixie, cillum aliquip butcher exercitation leggings sint. Ea tattooed stumptown placeat Godard blog.
	</div>

</template>