<template name="eventpage">
  {{> header}}
  <center>
    <div class="register-container">
      {{> modalparent}}
      {{> event}}
    </div>
  </center>

  {{> footer}}
</template>

<template name="event">

{{> eventdetails}}

{{> roster}}

<!-- {{> eventlist}} -->

</template>

<template name="eventlist">

{{#each events}}
	<p>Date: {{eventDate}}</p>
	<p>RSVPs: {{rsvps}}</p>
		{{users}}
{{/each}}

</template>

<template name="eventdetails">
	<div class="leftcolumn">
		<div class="row">
			<div class="gcalbutton">
				<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=LAN%20Party%20at%20Kenton's%20House&dates=20131117T200000Z/20131118T060000Z&details=LAN%20Party.%20&location=Palo%20Alto&trp=true&sprop=Kenton%20Varda&sprop=name:iskentonhavingalanparty.com" target="_blank">
				<button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-calendar"></span> Add to Google Calendar</button></a>
			</div>
			<div class="spacer"></div>
		</div>
		<div class="row">
			<label class="col-md-6">Event Details</label>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Time</label>
			</div>
			<div class="col-md-8">
				noon to midnight,<br>
				{{eventDate}}</br>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Theme</label>
			</div>
			<div class="col-md-8">
				{{eventTheme}}
			</div>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Address</label>
			</div>
			<div class="col-md-6">
				475 Fernando Ave.
				Palo Alto, CA 94306
			</div>
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>


	</div>

</template>

<template name="roster">
	<div class="rightcolumn">
			<label class="col-md-3">Roster</label>
		<div class="spacer"></div>
			<div class="col-md-5">
				<ul>
					<li>Name 1</li>
					<li>Longer Name 2</li>
					<li>Much much much much longer Name 3</li>
				</ul>
			</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
	</div>
</template>

<template name="myModal">      
    <!-- this is the backdrop fully shown from the beginning -->
    <div class="modal-backdrop fade in"></div>
    <!-- css ".show" class == modal fully shown -->
    <div class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal">
                	<div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        {{> register}}
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</template>


<template name="modalparent">
    {{#if showMyModal}}
        {{> myModal}}
    {{/if}}
    <button class="show-modal-button btn btn-success btn-lg">Add me <span class="glyphicon glyphicon-pencil"></span></button>
</template>


