<template name="eventpage">
  {{> header}}
  <center>
    <div class="register-container">
      {{> event}}
    </div>
  </center>

  {{> footer}}
</template>

<template name="event">

{{> eventdetails}}

{{> roster}}

</template>

<template name="eventdetails">
	<div class="leftcolumn">
		<div class="row">
			<div class="gcalbutton"><button type="button" class="btn btn-primary btn-lg">Add to Google Calendar</button></div>
			<div class="spacer"></div>
		</div>
		<div class="row">
			<label class="col-md-6">Event Details</label>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Time</label>
			</div>
			<div class="col-md-8">
				noon to midnight
			</div>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Theme</label>
			</div>
			<div class="col-md-8">
				Upcoming LAN party
			</div>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-3">
			<label class="col-md-2">Address</label>
			</div>
			<div class="col-md-6">
				475 Fernando Ave.
				Palo Alto, CA 94306
			</div>
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>


	</div>

</template>

<template name="roster">
	<div class="rightcolumn">
			<label class="col-md-3">Roster</label>
		<div class="spacer"></div>
			<div class="col-md-5">
				<ul>
					<li>Name 1</li>
					<li>Longer Name 2</li>
					<li>Much much much much longer Name 3</li>
				</ul>
			</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
			
		
		
	</div>

</template>